/target
Cargo.lock
**/*.rs.bk
/.vscode
/impl/target
*.out
*expanded*.rs
/bin
/output
run*.sh
lamellar_env.sh
*.ansi
*.log
*.tmp
*.swp
.DS_Store
TODO
/.cargo
/test_results
/stable
/.claude
/.github
/archive_results
/bin
/examples_results
/graphify*
/node_modules
/output*
/test_out*
/test_results*
/doc*